
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    background-image: url("https://images.unsplash.com/photo-1593642533777-6741453549d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #333;
    transition: color 0.3s ease;
}


#formLogin{
    width: 65%;
    height: 20em;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    background-color: white;

}

.bloque{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.2em;
    color: #666;
    transition: color 0.3s ease;

}

h1{
    text-align: center;
    font-size: 5em;
    color: #333;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}







